<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net461" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net461" />
  <package id="Activiz.NET.x64" version="5.8.0" targetFramework="net461" />
  <package id="CNTK.Deps.Cuda" version="2.6.0" targetFramework="net461" />
  <package id="CNTK.Deps.cuDNN" version="2.6.0" targetFramework="net461" />
  <package id="CNTK.Deps.MKL" version="2.6.0" targetFramework="net461" />
  <package id="CNTK.Deps.OpenCV.Zip" version="2.6.0" targetFramework="net461" />
  <package id="CNTK.GPU" version="2.6.0" targetFramework="net461" />
  <package id="HDF5DotNet.x64" version="1.8.9" targetFramework="net461" />
  <package id="LBPLibrary" version="1.0.8" targetFramework="net461" />
  <package id="OpenCvSharp3-AnyCPU" version="3.4.1.20181108" targetFramework="net461" />
</packages>