cloudpickle
cntk==2.6
cntk-gpu==2.6
glob3==0.0.1
h5py==2.9.0
hyperopt==0.1.2
joblib
matplotlib==2.2.2
numpy==1.22.0
opencv-python==4.0.0.21
openpyxl
pandas==0.24.2
scikit-image
scikit-learn==0.20.0
scipy==1.1.0
torch==1.0.0
torchvision==0.2.1
tqdm
vtk==8.1.1
xlrd